* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

nav {
  height: 70px;
  display: flex;
  padding: 1.1rem 1.8rem;
  box-shadow: 0px 3px 7.5008px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 0.75rem;
  font-weight: normal;
}

section {
  padding: 1.2rem;
}
/* NAV SECTION */

.nav--logo {
  max-width: 6.25rem;
}

/* HERO SECTION */

.hero-section {
  display: flex;
  flex-direction: column;
}

.hero-image {
  max-width: 400px;
  align-self: center;
}

.hero-header {
  margin-bottom: 1rem;
}

.hero-text {
  margin-top: 1rem;
}
/* CARD SECTION */

.card-section {
  width: 175px;
  font-size: 14px; /* Aumentar el tamaño de la fuente para una mejor legibilidad */
}

.card-stats {
  display: flex;
  align-items: center;
  gap: 4px; /* Incrementar el espacio entre elementos para mejorar la separación visual */
}

.card-image {
  width: 100%;
  border-radius: 12px; /* Aumentar el radio del borde para una apariencia más suave */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Agregar una sombra suave para resaltar la tarjeta */
}

.card-stats-image {
  height: 16px; /* Aumentar la altura de la imagen de estadísticas */
}
